target/
!.mvn/wrapper/maven-wrapper.jar


### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.metadata/



# Ignore specific files
.gitignore
gitignore
.classpath
.project
pom.xml
.idea/
.metadata/
.settings/
bin/
B형 특강 1일차 수업자료/
